[submodule "paypal-provider-service"]
	path = paypal-provider-service
	url = https://github.com/poojithagonugunta/paypal-provider-service.git
[submodule "eureka-server-registry"]
	path = eureka-server-registry
	url = https://github.com/poojithagonugunta/eureka-server-registry.git
[submodule "paypal-processing-service"]
	path = paypal-processing-service
	url = https://github.com/poojithagonugunta/paypal-processing-service.git
